*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --bg-color: #EDF2FF;
    --text-color: #00032f;
}


a {
    text-decoration: none;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}

body.dark-mode {
	background-color: #000401;
	color: #e5e8e8;
}

.container {
    text-align: center;
    width: 300px;
    margin: 60px auto;
}

img {
    width: 100%;
}

img.avatar {
    border-radius: 50%;
    width: 160px;
    right: 160px;
    padding: 3.8px;
    border: #4263eb solid 4px;
}

h1 {
    font-size: 32px;
    margin-top: 24px;
    margin-bottom: 8px;
}

h1#title {
    font-size: 20px;
}

.username {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    opacity: 0.8 ;
    font-size: 18px;
}

ul {
    list-style: none;
}

ul li a {
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4263eb;
    color: white;
    text-transform: uppercase;
    font-size: 14px;

    margin-bottom: 16px;
    border-radius: 6px;

    transition: background 400ms;

    box-shadow: 5px 5px rgb(187, 187, 187);
}

ul li a:hover {
    background: #364fc7;
}

ul li a.dark-mode {
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #8c8d91;
    color: white;
    text-transform: uppercase;
    font-size: 14px;

    margin-bottom: 16px;
    border-radius: 6px;

    transition: background 400ms;

    box-shadow: 5px 5px rgb(187, 187, 187);
  
}

ul li a.dark-mode:hover {
    background: #525563;
}

button {
	border-radius: 10px;
	font-size: 1rem;
	height: 40px;
	width: 100px;
    margin: 5px auto 8px;
    border: 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
	background-color: var(--text-color) ;
	color: var(--bg-color);
	transition: all 0.5s linear;
}

button:hover {
	background-color: #4263eb;
}

button.dark-mode {
	background-color: #e5e8e8;
	color: #4e545c;
}

button.dark-mode:hover {
	background-color: #4e545c;
	color: #e5e8e8;
}

footer {
    width: 100%;
    background-color: #4e545c;
    color: var(--bg-color);
    padding: 16px;
    font-weight: 500;
    font-size: 12px;
    opacity: 0.99;
    padding-top: 20px;
    text-align: center;
}

footer.dark-mode {
	background-color: #8d9797;
	color: #000401;
}